USE [master]
GO
/****** Object:  Database [PhoneDirectory]    Script Date: 24/07/2023 11:31:27 ******/
CREATE DATABASE [PhoneDirectory]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PhoneDirectory', FILENAME = N'D:\SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PhoneDirectory.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PhoneDirectory_log', FILENAME = N'D:\SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PhoneDirectory_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PhoneDirectory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PhoneDirectory]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 24/07/2023 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [varchar](100) NOT NULL,
	[lastName] [varchar](100) NOT NULL,
	[gsmNumber] [varchar](20) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[address] [text] NULL,
	[username] [varchar](100) NULL,
	[activeState] [binary](1) NOT NULL,
 CONSTRAINT [PK_Contacts_ID] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_contacts_gsm] UNIQUE NONCLUSTERED 
(
	[gsmNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_contacts_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guests]    Script Date: 24/07/2023 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guests](
	[firstName] [varchar](100) NOT NULL,
	[lastName] [varchar](100) NOT NULL,
	[acquisitionTime] [datetime] NOT NULL,
	[cardSubmitDate] [datetime] NULL,
	[cardId] [int] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[username] [varchar](100) NOT NULL,
	[activeState] [binary](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RandezvousIn]    Script Date: 24/07/2023 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RandezvousIn](
	[userId] [int] NOT NULL,
	[contactId] [int] NOT NULL,
	[startDate] [datetime] NOT NULL,
	[endDate] [datetime] NULL,
	[notes] [varchar](255) NULL,
	[activeState] [binary](1) NULL,
	[meetingId] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[meetingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserContacts]    Script Date: 24/07/2023 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserContacts](
	[userId] [int] NOT NULL,
	[contactId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 24/07/2023 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[role] [varchar](50) NOT NULL,
	[firstName] [varchar](100) NOT NULL,
	[lastName] [varchar](100) NOT NULL,
	[username] [varchar](100) NULL,
	[address] [varchar](255) NULL,
	[gsmNumber] [varchar](20) NOT NULL,
	[activeState] [binary](1) NOT NULL,
 CONSTRAINT [PK_Users_ID] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_users_gsm] UNIQUE NONCLUSTERED 
(
	[gsmNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_users_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contacts] ADD  DEFAULT ((1)) FOR [activeState]
GO
ALTER TABLE [dbo].[Guests] ADD  DEFAULT ((0)) FOR [cardId]
GO
ALTER TABLE [dbo].[Guests] ADD  DEFAULT ('') FOR [username]
GO
ALTER TABLE [dbo].[Guests] ADD  DEFAULT ((1)) FOR [activeState]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [activeState]
GO
ALTER TABLE [dbo].[Guests]  WITH CHECK ADD  CONSTRAINT [PK_Guests_Users] FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Guests] CHECK CONSTRAINT [PK_Guests_Users]
GO
ALTER TABLE [dbo].[RandezvousIn]  WITH CHECK ADD  CONSTRAINT [Fk_RandesvousIn_Contact] FOREIGN KEY([contactId])
REFERENCES [dbo].[Contacts] ([id])
GO
ALTER TABLE [dbo].[RandezvousIn] CHECK CONSTRAINT [Fk_RandesvousIn_Contact]
GO
ALTER TABLE [dbo].[RandezvousIn]  WITH CHECK ADD  CONSTRAINT [Fk_RandesvousIn_User] FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[RandezvousIn] CHECK CONSTRAINT [Fk_RandesvousIn_User]
GO
ALTER TABLE [dbo].[UserContacts]  WITH CHECK ADD  CONSTRAINT [FK_UserContacts_Contacts] FOREIGN KEY([contactId])
REFERENCES [dbo].[Contacts] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserContacts] CHECK CONSTRAINT [FK_UserContacts_Contacts]
GO
ALTER TABLE [dbo].[UserContacts]  WITH CHECK ADD  CONSTRAINT [FK_UserContacts_Users] FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserContacts] CHECK CONSTRAINT [FK_UserContacts_Users]
GO
/****** Object:  StoredProcedure [dbo].[AddExistingContact]    Script Date: 24/07/2023 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddExistingContact]
	@contactUsername VARCHAR(100),
	@username VARCHAR(100)
AS
BEGIN
	INSERT INTO UserContacts(userId, contactId)
	VALUES((SELECT id FROM users
	WHERE username = @username),
	(SELECT id FROM contacts
	WHERE username = @contactUsername))
END
GO
/****** Object:  StoredProcedure [dbo].[AddGuest]    Script Date: 24/07/2023 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddGuest]
	@firstName VARCHAR(100),
	@lastName VARCHAR(100),
	@cardId INT,
	@userId INT,
	@id INT OUTPUT
AS
BEGIN
	INSERT INTO Guests(firstName, lastName, acquisitionTime, cardId, userId)
	VALUES (@firstName, @lastName, GETDATE(), @cardId, @userId)

	SET @id = SCOPE_IDENTITY()
END

GO
/****** Object:  StoredProcedure [dbo].[AddMeeting]    Script Date: 24/07/2023 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddMeeting] 
	@userId INT,
	@contactId INT,
	@startDate DATETIME,
	@endDate DATETIME,
	@notes VARCHAR(255)
AS
BEGIN
	INSERT INTO RandezvousIn(userId, contactId, startDate, endDate, notes,activeState)
	VALUES(@userId, @contactId, @startDate, @endDate, @notes, 1)
END
GO
/****** Object:  StoredProcedure [dbo].[BringMeetingBack]    Script Date: 24/07/2023 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BringMeetingBack]
	@meetingId INT
AS
BEGIN
 UPDATE RandezvousIn
 SET activeState = 1
 WHERE meetingId = @meetingId
END
GO
/****** Object:  StoredProcedure [dbo].[ChangePassword]    Script Date: 24/07/2023 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ChangePassword]
	@username VARCHAR(100),
	@password VARCHAR(255)
AS
BEGIN
	UPDATE Users
	SET Users.password = @password
	WHERE username = @username
END
GO
/****** Object:  StoredProcedure [dbo].[CloseGuest]    Script Date: 24/07/2023 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CloseGuest]
	@id INT,
	@cardSubmitDate DATETIME
AS
BEGIN
	UPDATE Guests
	SET cardSubmitDate = @cardSubmitDate
	WHERE id = id
END
GO
/****** Object:  StoredProcedure [dbo].[CreateContact]    Script Date: 24/07/2023 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateContact]
	@name VARCHAR(100),
	@surname VARCHAR(100),
	@gsmNum VARCHAR(100),
	@email VARCHAR(100),
	@address VARCHAR(100),
	@userUserName VARCHAR(100),
	@username VARCHAR(100)
AS
BEGIN
	IF EXISTS (SELECT 1 FROM contacts WHERE gsmNumber = @gsmNum)
	BEGIN
		EXEC AddExistingContact @username, @userUsername
	END

	ELSE
	BEGIN
		INSERT INTO contacts (firstName, lastName, gsmNumber, email, address)
		VALUES (@name, @surname, @gsmNum, @email, @address)

		INSERT INTO UserContacts(userId, contactId)
		values((
		SELECT id FROM users
		WHERE username = @userUserName),
		(SELECT id from contacts 
		WHERE username = @username))
	END
END
GO
/****** Object:  StoredProcedure [dbo].[CreateUser]    Script Date: 24/07/2023 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateUser]
	@username VARCHAR(100),
	@name VARCHAR(100),
	@surname VARCHAR(100),
	@gsmNum VARCHAR(100),
	@email VARCHAR(100),
	@role VARCHAR(100),
	@address VARCHAR(100),
	@password VARCHAR(100)
AS
BEGIN
	INSERT INTO users(firstName, lastName, username, email, role, address, gsmNumber, password)
	VALUES(@name, @surname, @username, @email, @role, @address, @gsmNum, @password)
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteGuest]    Script Date: 24/07/2023 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteGuest]
	@id INT
AS
BEGIN
	DELETE FROM Guests
	WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteMeeting]    Script Date: 24/07/2023 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteMeeting]
	@meetingId INT
AS
BEGIN
	IF(SELECT 1 FROM RandezvousIn WHERE meetingId = @meetingId AND activeState = 0) > 0
		BEGIN
		DELETE FROM RandezvousIn
		WHERE meetingId = @meetingId AND activeState = 0
		END

	ELSE
		BEGIN
		Update RandezvousIn
		SET activeState = 0
		WHERE meetingId = @meetingId
		END
	

END
GO
/****** Object:  StoredProcedure [dbo].[GuestList]    Script Date: 24/07/2023 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GuestList]
	@userId INT
AS
BEGIN
	SELECT * FROM Guests
	WHERE userId = @userId
END

GO
/****** Object:  StoredProcedure [dbo].[ObtainCard]    Script Date: 24/07/2023 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtainCard]
	@cardId INT,
	@id INT
AS
BEGIN

	UPDATE Guests
	SET cardSubmitDate = GETDATE()
	WHERE cardId = @cardId AND id = @id

END
GO
/****** Object:  StoredProcedure [dbo].[RemoveContact]    Script Date: 24/07/2023 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RemoveContact]
	@username VARCHAR(100)
AS
BEGIN
	DELETE FROM contacts
	WHERE username = @username

END
GO
/****** Object:  StoredProcedure [dbo].[RemoveUser]    Script Date: 24/07/2023 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RemoveUser]
	@username VARCHAR(100)
AS
BEGIN

	DELETE FROM users
	WHERE username = @username
END
GO
/****** Object:  StoredProcedure [dbo].[RetrieveData]    Script Date: 24/07/2023 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RetrieveData]
	@userUsername VARCHAR(100),
	@contactSearch VARCHAR(100),
	@activeState BINARY
AS
BEGIN
	SELECT c.*
	FROM contacts c
	JOIN UserContacts uc ON c.id = uc.contactId
	JOIN users u ON uc.userId = u.id
	WHERE u.username = @userUsername AND c.username LIKE '%' + @contactSearch + '%' AND c.activeState = @activeState
END
GO
/****** Object:  StoredProcedure [dbo].[RetrieveDeletedContact]    Script Date: 24/07/2023 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RetrieveDeletedContact]
	@username VARCHAR(100)
AS
BEGIN

	UPDATE Contacts
	SET activeState = 1
	WHERE username = @username

END
GO
/****** Object:  StoredProcedure [dbo].[RetrieveDeletedUser]    Script Date: 24/07/2023 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RetrieveDeletedUser]
	@username VARCHAR(100)
AS
BEGIN
	UPDATE Users 
	Set activeState = 1
	WHERE username = @username
END
GO
/****** Object:  StoredProcedure [dbo].[RetrieveGuests]    Script Date: 24/07/2023 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RetrieveGuests]
	@username VARCHAR(100)

AS
BEGIN
	SELECT u.firstName userFirstname, u.lastName userLastname, u.username userUsername, u.email, u.address, u.email, u.gsmNumber, u.role, g.*  FROM Guests g
	JOIN Users u ON g.userId = u.id
	WHERE g.username LIKE '%' + @username + '%' AND cardSubmitDate IS NOT NULL
END
GO
/****** Object:  StoredProcedure [dbo].[RetrieveGuestsInside]    Script Date: 24/07/2023 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RetrieveGuestsInside]
	@username VARCHAR(100)
AS
BEGIN
	SELECT u.firstName userFirstname, u.lastName userLastname, u.username userUsername, u.email, u.address, u.email, u.gsmNumber, u.role, g.*  FROM Guests g
	JOIN Users u ON g.userId = u.id
	WHERE g.username LIKE '%' + @username + '%' AND cardSubmitDate IS NULL
END
GO
/****** Object:  StoredProcedure [dbo].[RetrieveMeetings]    Script Date: 24/07/2023 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RetrieveMeetings]
	@userId INT,
	@activeState BINARY
AS
BEGIN
	SELECT r.*, c.* FROM RandezvousIn r
	JOIN Users u ON r.userId = u.id
	JOIN Contacts c ON r.contactId = c.id
	WHERE userId  = @userId AND r.activeState = @activeState AND c.activeState = 1 and r.endDate > GETDATE()
END
GO
/****** Object:  StoredProcedure [dbo].[RetrieveUserContacts]    Script Date: 24/07/2023 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RetrieveUserContacts]
	@username VARCHAR(255)
AS
BEGIN
	
	SELECT c.*
	FROM users u
	JOIN UserContacts uc ON u.id = uc.userId
	JOIN contacts c ON uc.contactId = c.id
	WHERE u.email = @username

END
GO
/****** Object:  StoredProcedure [dbo].[RetrieveUsers]    Script Date: 24/07/2023 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RetrieveUsers]
	@userSearch VARCHAR(100),
	@activeState BINARY
AS
BEGIN
	SELECT * FROM users
	WHERE username LIKE '%' + @userSearch + '%' AND activeState = @activeState

END
GO
/****** Object:  StoredProcedure [dbo].[SevereUserContact]    Script Date: 24/07/2023 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SevereUserContact]
	@userUsername VARCHAR(100),
	@contactUsername VARCHAR(100)
AS
BEGIN
	DELETE FROM UserContacts 
	WHERE userId = (SELECT id FROM Users WHERE username = @userUsername)
	AND contactId = (SELECT id FROM Contacts WHERE username = @contactUsername)
END
GO
/****** Object:  StoredProcedure [dbo].[SoftDeleteFromContacts]    Script Date: 24/07/2023 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SoftDeleteFromContacts]

	@username VARCHAR(100)
AS
BEGIN

UPDATE Contacts
SET activeState = 0
WHERE username = @username;

END
GO
/****** Object:  StoredProcedure [dbo].[SoftDeleteFromUsers]    Script Date: 24/07/2023 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SoftDeleteFromUsers]
	
	@username VARCHAR(100)

AS
BEGIN

UPDATE Users
SET activeState = 0
WHERE username = @username

END
GO
/****** Object:  StoredProcedure [dbo].[SoftDeleteMeeting]    Script Date: 24/07/2023 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SoftDeleteMeeting]
	@userId INT,
	@contactId INT,
	@startDate DATETIME
AS
BEGIN

	Update RandezvousIn
	SET activeState = 0
	WHERE userId = @userId AND contactId = @contactId AND startDate = @startDate

END
GO
/****** Object:  StoredProcedure [dbo].[UpdateContact]    Script Date: 24/07/2023 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateContact]
	@name VARCHAR(100),
	@surname VARCHAR(100),
	@gsmNum VARCHAR(100),
	@email VARCHAR(100),
	@address VARCHAR(100),
	@oldUsername VARCHAR (100)
AS
BEGIN
	UPDATE contacts
	SET firstName = @name,
		lastName = @surname,
		gsmNumber= @gsmNum,
		email = @email,
		address = @address
		WHERE username = @oldUsername
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateMeeting]    Script Date: 24/07/2023 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateMeeting]
	@userId INT,
	@contactId INT,
	@newStartDate DATETIME,
	@endDate DATETIME,
	@notes VARCHAR(255),
	@meetingId INT
AS
BEGIN
	UPDATE RandezvousIn
	SET startDate = @newStartDate,
	endDate = @endDate,
	notes = @notes
	WHERE meetingId = @meetingId
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 24/07/2023 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUser]
	@username VARCHAR(100),
	@name VARCHAR(100),
	@surname VARCHAR(100),
	@gsmNum VARCHAR(100),
	@email VARCHAR(100),
	@address VARCHAR(100),
	@password VARCHAR(100),
	@role VARCHAR(100),
	@oldUsername VARCHAR(100)
AS
BEGIN
	UPDATE users
	SET firstName = @name,
		lastName = @surname,
		gsmNumber = @gsmNum,
		email = @email,
		username = @username, 
		address = @address,
		password = @password,
		role = @role
		WHERE username = @oldUsername
END
GO
/****** Object:  StoredProcedure [dbo].[VerifyUnamePwd]    Script Date: 24/07/2023 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VerifyUnamePwd]
	@email VARCHAR(255),
	@password VARCHAR(255)

AS
BEGIN
	SELECT * FROM users WHERE email = @email AND @password = password AND activeState != 0;
END;
GO
USE [master]
GO
