USE [master]
GO
/****** Object:  Database [PhoneDirectory]    Script Date: 18/07/2023 16:46:55 ******/
CREATE DATABASE [PhoneDirectory]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PhoneDirectory', FILENAME = N'D:\SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PhoneDirectory.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PhoneDirectory_log', FILENAME = N'D:\SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PhoneDirectory_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PhoneDirectory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PhoneDirectory]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 18/07/2023 16:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [varchar](100) NOT NULL,
	[lastName] [varchar](100) NOT NULL,
	[gsmNumber] [varchar](20) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[address] [text] NULL,
	[username] [varchar](100) NULL,
 CONSTRAINT [PK_contacts_GSM] PRIMARY KEY CLUSTERED 
(
	[gsmNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_contacts_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeletedContacts]    Script Date: 18/07/2023 16:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeletedContacts](
	[id] [int] NOT NULL,
	[firstName] [varchar](100) NULL,
	[lastName] [varchar](100) NULL,
	[gsmNumber] [varchar](20) NULL,
	[email] [varchar](255) NULL,
	[address] [text] NULL,
	[username] [varchar](100) NULL,
	[deletedBy] [varchar](100) NULL,
	[deletedAt] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deletedUsers]    Script Date: 18/07/2023 16:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deletedUsers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[role] [varchar](50) NOT NULL,
	[first_name] [varchar](100) NULL,
	[last_name] [varchar](100) NULL,
	[username] [varchar](100) NULL,
	[address] [varchar](255) NULL,
	[gsm_number] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserContacts]    Script Date: 18/07/2023 16:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserContacts](
	[userGsm] [varchar](20) NOT NULL,
	[contactGsm] [varchar](20) NOT NULL,
 CONSTRAINT [PK_UserContacts_Contacts] PRIMARY KEY CLUSTERED 
(
	[userGsm] ASC,
	[contactGsm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18/07/2023 16:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[role] [varchar](50) NOT NULL,
	[firstName] [varchar](100) NOT NULL,
	[lastName] [varchar](100) NOT NULL,
	[username] [varchar](100) NULL,
	[address] [varchar](255) NULL,
	[gsmNumber] [varchar](20) NOT NULL,
 CONSTRAINT [PK_users_GSM] PRIMARY KEY CLUSTERED 
(
	[gsmNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_users_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserContacts]  WITH CHECK ADD  CONSTRAINT [FK_UserContacts_Contacts] FOREIGN KEY([contactGsm])
REFERENCES [dbo].[Contacts] ([gsmNumber])
GO
ALTER TABLE [dbo].[UserContacts] CHECK CONSTRAINT [FK_UserContacts_Contacts]
GO
ALTER TABLE [dbo].[UserContacts]  WITH CHECK ADD  CONSTRAINT [FK_UserContacts_Users] FOREIGN KEY([userGsm])
REFERENCES [dbo].[Users] ([gsmNumber])
GO
ALTER TABLE [dbo].[UserContacts] CHECK CONSTRAINT [FK_UserContacts_Users]
GO
/****** Object:  StoredProcedure [dbo].[AddExistingContact]    Script Date: 18/07/2023 16:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddExistingContact]
	@contactUsername VARCHAR(100),
	@username VARCHAR(100)
AS
BEGIN
	INSERT INTO UserContacts(userGsm, contactGsm)
	VALUES((SELECT gsmNumber FROM users
	WHERE username = @username),
	(SELECT gsmNumber FROM contacts
	WHERE username = @contactUsername))
END
GO
/****** Object:  StoredProcedure [dbo].[CreateContact]    Script Date: 18/07/2023 16:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateContact]
	@name VARCHAR(100),
	@surname VARCHAR(100),
	@gsmNum VARCHAR(100),
	@email VARCHAR(100),
	@address VARCHAR(100),
	@userUserName VARCHAR(100),
	@username VARCHAR(100)
AS
BEGIN
	IF EXISTS (SELECT 1 FROM contacts WHERE gsmNumber = @gsmNum)
	BEGIN
		EXEC AddExistingContact @username, @userUsername
	END

	ELSE
	BEGIN
		INSERT INTO contacts (firstName, lastName, gsmNumber, email, address)
		VALUES (@name, @surname, @gsmNum, @email, @address)

		INSERT INTO UserContacts(userGsm, contactGsm)
		values((
		SELECT gsmNumber FROM users
		WHERE username = @userUserName),
		(SELECT gsmNumber from contacts 
		WHERE username = @username))
	END
END
GO
/****** Object:  StoredProcedure [dbo].[CreateUser]    Script Date: 18/07/2023 16:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateUser]
	@username VARCHAR(100),
	@name VARCHAR(100),
	@surname VARCHAR(100),
	@gsmNum VARCHAR(100),
	@email VARCHAR(100),
	@role VARCHAR(100),
	@address VARCHAR(100),
	@password VARCHAR(100)
AS
BEGIN
	INSERT INTO users(firstName, lastName, username, email, role, address, gsmNumber, password)
	VALUES(@name, @surname, @username, @email, @role, @address, @gsmNum, @password)
END
GO
/****** Object:  StoredProcedure [dbo].[RemoveContact]    Script Date: 18/07/2023 16:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RemoveContact]
	@username VARCHAR(100),
	@deletedBy VARCHAR(100)
AS
BEGIN
	INSERT INTO DeletedContacts
	SELECT *, @deletedBy, GETDATE() FROM contacts 
	WHERE username = @username

	DELETE FROM contacts
	WHERE username = @username

END
GO
/****** Object:  StoredProcedure [dbo].[RemoveUser]    Script Date: 18/07/2023 16:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RemoveUser]
	@username VARCHAR(100)
AS
BEGIN
	DELETE FROM users
	WHERE username = @username
END
GO
/****** Object:  StoredProcedure [dbo].[RetrieveData]    Script Date: 18/07/2023 16:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RetrieveData]
	@userUsername VARCHAR(100),
	@contactSearch VARCHAR(100)
AS
BEGIN
	SELECT c.*
	FROM contacts c
	JOIN UserContacts uc ON c.gsmNumber = uc.contactGsm
	JOIN users u ON uc.userGsm = u.gsmNumber
	WHERE u.username = @userUsername AND c.username LIKE '%' + @contactSearch + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[RetrieveUserContacts]    Script Date: 18/07/2023 16:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RetrieveUserContacts]
	@username VARCHAR(255)
AS
BEGIN
	
	SELECT c.*
	FROM users u
	JOIN UserContacts uc ON u.id = uc.user_id
	JOIN contacts c ON uc.contact_id = c.id
	WHERE u.email = @username

END
GO
/****** Object:  StoredProcedure [dbo].[UpdateContact]    Script Date: 18/07/2023 16:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateContact]
	@name VARCHAR(100),
	@surname VARCHAR(100),
	@gsmNum VARCHAR(100),
	@email VARCHAR(100),
	@address VARCHAR(100),
	@oldUsername VARCHAR (100)
AS
BEGIN
	UPDATE contacts
	SET firstName = @name,
		lastName = @surname,
		gsmNumber= @gsmNum,
		email = @email,
		address = @address
		WHERE username = @oldUsername
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 18/07/2023 16:46:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUser]
	@username VARCHAR(100),
	@name VARCHAR(100),
	@surname VARCHAR(100),
	@gsmNum VARCHAR(100),
	@email VARCHAR(100),
	@address VARCHAR(100),
	@password VARCHAR(100),
	@role VARCHAR(100)
AS
BEGIN
	UPDATE users
	SET firstName = @name,
		lastName = @surname,
		gsmNumber = @gsmNum,
		email = @email,
		username = @username, 
		address = @address,
		password = @password,
		role = @role
		WHERE gsmNumber = @gsmNum
END
GO
/****** Object:  StoredProcedure [dbo].[VerifyUnamePwd]    Script Date: 18/07/2023 16:46:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VerifyUnamePwd]
	@email VARCHAR(255),
	@password VARCHAR(255),
	@role VARCHAR(50) OUTPUT,
	@username VARCHAR(255) OUTPUT

AS
BEGIN
	SELECT @role = role, @username = username FROM users WHERE email = @email AND @password = password;
END;
GO
USE [master]
GO
